@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
  font-family: 'Alicia'; /* Font name */
  src: url('/assets/Allicia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.custom-title {
  font-family: 'Alicia', serif; /* Apply Angelos font */
  font-size: 32px;
  color: rgb(255, 255, 255);
  margin-right: 10px;

}

:host {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000; /* You can adjust the z-index as needed */
  }
  html,
body,
.intro {
  height: 25%;
}

.form-control {
  border-color: transparent;
}

.input-group>.form-control:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1px transparent;
}

.btn-link:hover {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:active,
.btn-link.active {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:focus,
.btn-link.focus {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:active:focus,
.btn-link.active:focus {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.form-control::placeholder {
  color: #fff;
}

.purple-gradient {
  color: #fff;
  background: linear-gradient(to right, #ffffff, #ffffff);
}
.btn.purple-gradient:hover {
  color: #fff;
}
.navbar,
.container-fluid,
.navbar-toggler,
.navbar-toggler-icon,
.collapse,
.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link,
.card,
.navbar-nav,
.nav-link,
.card-body,
.input-group,
.input-group-lg {
  background-color: black;
  font-family: var(--bs-font-sans-serif);
  color: #ffffff; /* Set the default color for the text */
  font-size: 1rem;
}
/* Styling for navbar-brand when hovered */
/* For when the user is logged in */
.logo-center-loggedin {
  margin-right: 0rem;
  margin-left: 3rem;
}

/* For when the user is not logged in */
.logo-center-notloggedin {
  margin-right: 10rem; /* Adjust this value based on your design needs */
}


/* Styling to transform navbar-brand into the logout button */

/* Optionally, you can add transition for a smoother effect */
.navbar .profile-pic {
  width: 40px;  /* Adjusted size */
  height: 40px;
  border-radius: 100%;  /* Circular image */
  object-fit: cover;   /* Ensures the image scales properly inside the circle */
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid white;  /* Optional: Add a white border to the image */
}


.profile-section {
  display: flex;
  align-items: center;
}

.profile-section img.profile-pic {
  width: 30px;  /* Adjust the size as needed */
  height: 30px;
  border-radius: 50%;  /* This makes the image circular */
  object-fit: cover;   /* Ensures the image scales properly inside the circle */
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid white;  /* Optional: Add a white border to the image */
}

.profile-section span {
  margin-right: 10px;
}

.wallet-container {
  display: flex;
  align-items: center;
  background-color: #1C2B36; /* Wallet container background */
  border-radius: 8px;
  overflow: hidden;
}

.wallet-info {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background-color: #1C2B36;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.balance {
  margin-right: 5px;
}

.coin-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.dropdown-arrow {
  color: #fff;
  margin-left: 5px;
  font-size: 7px;
}

.wallet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00CC00; /* Blue wallet button background */
  border: none;
  padding: 8px;
  cursor: pointer;
}

.wallet-button:hover {
  background-color: #02b002; /* Slightly darker blue on hover */
}

.wallet-icon {
  width: 25px;
  height: 25px;
}
